appdirs==1.4.4
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.0.7
cryptography==41.0.1
cycler==0.11.0
fonttools==4.39.4
frozendict==2.3.8
html5lib==1.1
idna==3.4
ilib==0.3
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
multitasking==0.0.11
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
talipp==1.9.1
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.3
webencodings==0.5.1
yfinance==0.2.20
